<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CMZero - Label Based Content Management">
    <meta name="author" content="Andrew Neil Metcalfe">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/bootswatch.css" rel="stylesheet">
</head>

<body class="preview" id="top" data-spy="scroll" data-target=".subnav" data-offset="80">

    @{ Html.RenderAction("NavBar", "Layout"); }

    <div class="container">
        @{ Html.RenderAction("MastHead", "Layout"); }

        @RenderBody()

        @{ Html.RenderAction("Footer", "Layout"); }

    </div>


    @*    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->*@
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="~/Content/js/jquery.smooth-scroll.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/bootswatch.js"></script>


</body>
</html>



