obj
bin
!TemplateGenerator/bin*
deploy
*.csproj.user
*.suo
*ReSharper*
*.orig
*.dotCover
output
*.TeamCitySharp.sln.metaproj*
*.DotSettings.*
*.ncrunchsolution
*.ncrunchsolution.user
nuget
*.debug.css
Web/Scripts/generated/*.js
Web/Content/css/generated/*.css
Web/Content/fonts/*.sfd~
Properties/PublishProfiles
Web/App_Data/Logs/*.txt
node_modules