@model CMZero.Web.Models.ViewModels.HomeViewModel

@{
    ViewBag.Title = "@Model.GetLabel("PageTitle")";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@Model.GetLabel("MainH1")</h1>

@Model.GetLabel("MainBody")