<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseUri" value="local-api.cmzero.com"/>
    <add key="ApiKey" value="bb50b60b-98d6-4fcf-8a5e-0189320867e4" />
    <add key="OrganisationIdToTryToUse" value="fa3af0f3-9e5b-4797-98f1-2dde407dd3c7" />
    <add key="ApplicationIdToTryToUse" value="d3f2e44f-2006-4ba2-b179-e5a95abb81b3" />
    <add key="CollectionIdToTryToUse" value="3f086e11-7f06-4e79-aa21-ce2d8947a534" />
  
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>