<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseUri" value="local-api.cmzero.com"/>
    <!--<add key="ApiKey" value="2c68d911-c454-40a5-8683-a035e6b0bb6a" />
    <add key="OrganisationIdToTryToUse" value="e0bac851-e41a-4a3d-86f9-9ac41b57bf26" />
    <add key="ApplicationIdToTryToUse" value="f5cad00b-c0c8-4c5c-87ab-7db3a602d8b4" />-->
    <add key="ApiKey" value="6b0dc8f6-483e-4be3-b0bb-00a5bb3710f1" />
    <add key="OrganisationIdToTryToUse" value="2b6f1418-41e4-4817-94e0-1c3abb535de0" />
    <add key="ApplicationIdToTryToUse" value="096fae92-12b5-476f-97e9-57b861b4c9ac" />
  
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>