<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseUri" value="local-api.cmzero.com"/>
    <add key="OrganisationIdToTryToUse" value="2f752b8a-98e8-4cb3-a8b6-7aba63dbc4cc" />
    <add key="ApplicationIdToTryToUse" value="5f8e2723-98ec-4912-8119-b15aa0ef3c0f" />
    <add key="CollectionIdToTryToUse" value="5f8e2723-98ec-4912-8119-b15aa0ef3c0f" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>